<div class="container">
  <header class="row">
    <div class="col">
      <h1>Memory Game</h1>
      <h2>High Scores</h2>

      <p class="lead">
        These are the top scores from various different players...
      </p>
    </div>
  </header>

  <main *ngIf="highScores$ | async as highScores; else loading">
    <ul *ngIf="highScores && highScores.length > 0; else noScoresYet">
      <li class="list-item" *ngFor="let score of highScores">
        <strong>{{ score.name }}:</strong>
        {{ score.score }}
      </li>
    </ul>
  </main>

  <ng-template #noScoresYet>
    <p>No high scores yet...</p>
  </ng-template>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

  <footer>
    <p><small>&copy; 2019 Dan Silcox</small></p>
  </footer>
</div>